# Entornos virtuales
venv/
env/
# Archivos .env (Desbloqueado a petición para que los evaluadores lo tengan directo)
# .env

# Base de datos (Desbloqueada para pruebas out-of-the-box)
# facturacion.db

# Python Cache
__pycache__/
*.pyc

# IDEs
.vscode/
.cursor/

# Archivos de SO
.DS_Store
Thumbs.db
